@model IEnumerable<SpotifyDataClient.Models.Song>

@{
    ViewBag.Title = "Songs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Saved Songs</h2>

<table class="table">
    <tr>
        <th>
            Song Name
        </th>
        <th>
            Popularity
        </th>
        <th>
            Length (seconds)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.length)
        </td>
    </tr>
}

</table>
