@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spotify Metadata Client</h1>
    <p class="lead">Simple ASP.NET application for consuming Spotify's Metadata API, saving information and showing statistics.</p>
</div>

<div class="row">
    <div class="col-lg-4 col-md-offset-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for artists in Spotify" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Search</button>
            </span>
        </div>
    </div>
</div>