@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Spotify Metadata Client</h1>
    <p class="lead">Simple ASP.NET application for consuming Spotify's Metadata API, saving information and showing statistics.</p>
</div>

<div class="row">
    <div class="col-lg-4 col-md-offset-4">
        @using (Html.BeginForm("SearchResults", "Songs", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search artists in Spotify" })
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </span>
            </div>
        }
        
    </div>
</div>